---
import Page from "../components/Page.astro";
import TopNav from "../components/TopNav.astro";
import Hero from "../components/Hero.astro";
import JumpTiles from "../components/JumpTiles.astro";
import Section from "../components/Section.astro";
import Rule from "../components/Rule.astro";
import MeetKevin from "../components/MeetKevin.astro";
import MeetJeanLuc from "../components/MeetJeanLuc.astro";
import Springfield from "../components/Springfield.astro";
import WorkBuckets from "../components/WorkBuckets.astro";
import DirectBooking from "../components/DirectBooking.astro";
import Connect from "../components/Connect.astro";
import Footer from "../components/Footer.astro";
import Photo from "../components/atoms/Photo.astro";
import hero from "../assets/hero.jpg";

const ogImage = new URL("og.jpg", Astro.site).toString();
---

<Page
  title="ride.kevnet.cloud"
  description="Kevin Huff. Springfield Tesla driver, tech guy, AI enthusiast."
  image={ogImage}
>
  <TopNav />
  <Hero>
    <Photo
      slot="photo"
      src={hero}
      alt="Kevin and the Tesla, golden hour."
      eager
      widths={[400, 720, 1080, 1440]}
      sizes="(min-width: 720px) 720px, 100vw"
    />
  </Hero>
  <JumpTiles />
  <Section index="01 / WHO" title="Meet Kevin" id="who">
    <MeetKevin />
  </Section>
  <Section index="02 / THE CAR · PICARD" title="Meet Jean-Luc" id="tesla">
    <MeetJeanLuc />
  </Section>
  <Section
    index="03 / SPRINGFIELD"
    title="Springfield favorites"
    id="springfield"
  >
    <Springfield />
  </Section>
  <Section index="04 / WORK" title="Work With Me" id="work">
    <WorkBuckets />
  </Section>
  <Rule />
  <DirectBooking />
  <Rule />
  <Connect />
  <Footer />
</Page>
