---
import Page from "../components/Page.astro";
import TopNav from "../components/TopNav.astro";
import Hero from "../components/Hero.astro";
import JumpTiles from "../components/JumpTiles.astro";
import Section from "../components/Section.astro";
import MeetKevin from "../components/MeetKevin.astro";
import KevinShow from "../components/KevinShow.astro";
import PhotoPlaceholder from "../components/atoms/PhotoPlaceholder.astro";
---

<Page
  title="ride.kevnet.cloud"
  description="Kevin Huff. Springfield Tesla driver, tech guy, Twitch streamer."
>
  <TopNav />
  <Hero>
    <PhotoPlaceholder
      slot="photo"
      caption="HERO · KEVIN + MODEL Y"
      height={260}
    />
  </Hero>
  <JumpTiles />
  <Section index="01 / WHO" title="Meet Kevin">
    <MeetKevin />
  </Section>
  <Section index="03 / TWITCH" title="The Kevin Show" id="show">
    <KevinShow />
  </Section>
</Page>
